{% extends '@JasderoPassePlat/main/adminLayout.html.twig' %}

{% block passe_plat_content %}
    <div class="container">
        <div class="row">
        <h5 class="center-align">Catalogs list</h5>
            <table class="tablesorter bordered" id="catalogstable">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Pretaxprice</th>
                    <th>Vat rate</th>
                    <th>Activated</th>
                    <th>{{ content }}</th>
                    <th>Nb of {{ container }}</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for catalog in catalogs %}
                    <tr>
                        <td>
                            <a href="{{ path('catalog_show', { 'id': catalog.id }) }}" class="btn grey darken-3" title="view detail">{{ catalog.id }}</a>
                        </td>
                        <td>{{ catalog.name }}</td>
                        <td>{{ catalog.description }}</td>
                        <td>{{ catalog.pretaxPrice }}</td>
                        <td>{% if catalog.vat %}{{ catalog.vat.rate }}{% endif %}</td>
                        <td>{% if catalog.activated %}Yes{% else %}No{% endif %}</td>
                        <td class="center-align">
                            {# counting  products with this catalog entry#}
                            {% set nbProducts = 0 %}
                            {% for product in catalog.products %}
                                {% set nbProducts = nbProducts+1 %}
                            {% endfor %}
                            <a href="{{ path('products_by_catalog', {'id': catalog.id}) }}" class="btn-floating center-align blue-grey darken-1" title="view {{ content }}">
                                {{ nbProducts }}
                            </a>/{{ totalProducts }}
                        </td>
                        <td>
                            <a href="{{ path('orders_by_catalog', {'id': catalog.id}) }}" class="btn blue-grey darken-3 tablebtn" title="view {{ container }}">
                                {{ render(controller('JasderoPassePlatBundle:Catalog:catalogInOrders', {'catalog': catalog.id})) }}/{{ totalOrders }}</a>
                        </td>
                        <td>
                            <a href="{{ path('catalog_edit', { 'id': catalog.id }) }}" class="btn grey darken-3" title="edit"><i class="material-icons">edit</i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="iconsBlock center-align">
                <a href="{{ path('catalog_new') }}" class="addIcon" title="create a new catalog"><i class="medium material-icons">add_circle</i></a>
            </div>
        </div>
    </div>
{% endblock %}
{% block passe_plat_javascripts %}
    <script>
        $(function () {
            $('#catalogstable').tablesorter();
        })
    </script>
{% endblock %}
