{% extends '@JasderoPassePlat/main/adminLayout.html.twig' %}

{% block passe_plat_content %}
    <div class="container">
        <h5 class="center-align">Catalog creation</h5>

        {# form section #}
        <div class="row">
            {{ form_start(form) }}
            <div class="input-field col s12">
            {{ form_row(form.name) }}
            </div>
            <div class="col s12 m4">
                {{ form_row(form.branch) }}
            </div>
            <div class="col s12 m4">
                {{ form_row(form.category) }}
            </div>
            <div class="col s12 m4">
                {{ form_row(form.subCategory) }}
            </div>
            <div class="row">
                <div class="input-field col s12">
                {{ form_row(form.description) }}
                </div>
            </div>
            <div class="col s6 m4">
                {{ form_row(form.pretaxPrice) }}
            </div>
            <div class="col s6 m4">
                {{ form_row(form.vat) }}
            </div>
            <div class="col s12 m4">
                {{ form_row(form.activated) }}
            </div>

        {# buttons section #}
            <div class="iconsBlock col s12 center-align">
                <a href="{{ path('catalog_index') }}" title="back">
                    <button type="button" class="btn-floating grey darken-3"><i class="material-icons">skip_previous</i></button>
                </a>
                <button type="submit" class="btn-floating grey darken-3" title="confirm"><i class="material-icons">done</i></button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
