{% extends '@JasderoPassePlat/main/adminLayout.html.twig' %}

{% block passe_plat_content %}
    <div class="container">
        <div class="row center-align">
            <h5>Statuses list</h5>
            <div class="col s12">
                <p class="notice">Drag and drop to sort statuses by order of importance then click
                    <button type="button" class="btn blue-grey darken-3" id="validOrder">here</button><img src="{{ asset('images/ajax-loader.gif') }}" alt="" id="loader">
                    to valid</p>
                <table id="table-status" class="bordered tablesorter">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Nb of {{ content }}</th>
                        <th>Nb of {{ container }}</th>
                        <th>Color</th>
                        <th>Activated</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for state in states %}
                        <tr id="{{ state.id }}">
                            <td><a href="{{ path('state_show', { 'id': state.id }) }}" class="btn grey darken-3" title="view detail">{{ state.id }}</a>
                            </td>
                            <td class="sorter">{{ state.name }}</td>
                            <td>{{ state.description }}</td>
                            <td class="center-align">
                                {# counting  products affected by this state#}
                                {% set nbProducts = 0 %}
                                {% for product in state.products %}
                                    {% set nbProducts = nbProducts+1 %}
                                {% endfor %}
                                <a href="{{ path('products_by_status', {'id': state.id}) }}"
                                   class="btn-floating center-align blue-grey darken-1" title="view {{ content }}">{{ nbProducts }}
                                    </a>/ {{ totalProducts }}
                            </td>
                            <td>
                                {# counting  orders affected by this state#}
                                {% set nbOrders = 0 %}
                                {% for order in state.orders %}
                                    {% set nbOrders = nbOrders+1 %}
                                {% endfor %}
                                <a href="{{ path('orders_by_status', {'id':  state.id}) }}"
                                   class="btn blue-grey darken-3" title="view {{ container }}">{{ nbOrders }} / {{ totalOrders }}</a>
                            </td>
                            <td class="{{ state.color }}">{{ state.color }}</td>
                            <td>{% if state.activated %}Yes{% else %}No{% endif %}</td>
                            <td>
                                <a href="{{ path('state_edit', { 'id': state.id }) }}" class="btn grey darken-3"
                                   title="edit"><i class="material-icons">edit</i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="iconsBlock center-align">
                    <a href="{{ path('state_new') }}" class="addIcon" title="create a new status"><i
                                    class="medium material-icons">add_circle</i></a>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block passe_plat_javascripts %}
    <script>
        $(function () {
            var loader = $('#loader');
            var table = $('#table-status');
            var button = $('#validOrder');

            //calling plugin on table
            table.rowSorter({
            });

            //hiding loader by default
            loader.hide();

            //showing loader on ajax
            $(document).ajaxStart(function () {
                loader.show();
                button.hide();
            });
            $(document).ajaxComplete(function () {
                loader.hide();
                button.show();
            });

            //preparing ajax call
            button.click(function () {
                $.ajaxSetup(
                    {
                        url: "{{ path('weight_change') }}",
                        type: "POST"
                    }
                );
                var order = [];
                var token = '{{ token }}';
                table.find("tr").each(function () {
                    order.push($(this).attr('id'));
                });
                $.ajax({
                    data: {request: order, token: token}, success: function () {
                        location.reload(true);
                    }
                });
            });
        })
    </script>
{% endblock %}
