{% extends '@JasderoPassePlat/layout.html.twig' %}
    {% block passe_plat_header %}
    <nav>
        <div class="nav-wrapper blue-grey">
            <a href="{{ path('dashboard') }}" class="brand-logo"><img src="{{ asset('bundles/jasderopasseplat/images/passe-plat(blue-grey)ssbg.png') }}" alt=""></a>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ path('dashboard') }}"><i class="material-icons left">dashboard</i>Dashboard</a></li>
                <li><a href="{{ path('orders_index') }}"><i class="material-icons left">stop</i>{{ container }}</a></li>
                <li><a href="{{ path('product_index') }}"><i class="material-icons left">fiber_manual_record</i>{{ content }}</a></li>
                <li><a class='dropdown-button' data-beloworigin="true" href='#' data-activates='settings1'>Settings<i class="material-icons left">settings</i></a></li>
                <ul id='settings1' class='dropdown-content'>
                    <li><a href="{{ path('catalog_index') }}">Catalogs</a></li>
                    <li><a href="{{ path('state_index') }}">Statuses</a></li>
                    <li><a href="{{ path('vat_index') }}">Vats</a></li>
                    <li><a href="{{ path('category_index') }}">Categories</a></li>
                </ul>
                <li><a href="{{ path('fos_user_security_logout') }}"><i class="material-icons">exit_to_app</i></a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="{{ path('dashboard') }}">Dashboard</a></li>
                <li><a href="{{ path('orders_index') }}"><i class="material-icons left">stop</i>{{ container }}</a></li>
                <li><a href="{{ path('product_index') }}"><i class="material-icons left">fiber_manual_record</i>{{ content }}</a></li>
                <li><a class='dropdown-button' data-beloworigin="true" href='#' data-activates='settings2'>Settings<i class="material-icons right">arrow_drop_down</i></a></li>
                <ul id='settings2' class='dropdown-content'>
                    <li><a href="{{ path('catalog_index') }}">Catalog</a></li>
                    <li><a href="{{ path('state_index') }}">Statuses</a></li>
                    <li><a href="{{ path('vat_index') }}">Vat</a></li>
                    <li><a href="{{ path('category_index') }}">Categories</a></li>
                </ul>
                <li><a href="{{ path('fos_user_security_logout') }}"><i class="material-icons">exit_to_app</i></a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
