{% extends '@JasderoPassePlat/Admin/adminLayout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h5 class="center-align">Orders list</h5>
                <table class="bordered tablesorter">
                    <thead>
                    <tr>
                        <th>Order Id</th>
                        <th>Product Id</th>
                        <th>Product</th>
                        <th>Customer</th>
                        <th>Created on</th>
                        <th>Last update</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for order in orders %}
                        {% set pid = '' %}
                        {% set puser ='' %}
                        {% set pcreation ='' %}
                        {% set pupdate ='' %}
                        {% for product in order.products %}

                            <tr>
                                {% if pid != order.id %}
                                    {% set pid = order.id %}
                                    <td><a href="{{ path('orders_show', { 'id': order.id }) }}" title="view order detail"
                                           class="{{ order.state.color }} white-text linkAsBlock"><i class="material-icons left">stop</i>{{ order.id }}</a>
                                    </td>
                                {% else %}
                                    <td><p hidden>{{ order.id }}</p>
                                    </td>
                                {% endif %}
                                <td>
                                    <a href="{{ path('product_show', {'id':product.id}) }}"
                                       title="view product detail" class="{{ product.state.color }}-text linkAsBlock"><i class="material-icons left">fiber_manual_record</i>{{ product.id }}</a>
                                </td>
                                <td>
                                    {{ product.catalog.name }}
                                </td>
                                {% if puser != order.user.username %}
                                    {% set puser = order.user.username %}
                                    <td>
                                        <a href="{{ path('user_detail', {id : order.user.id}) }}" title="view detail">
                                        {{ order.user.username }}
                                        </a>
                                    </td>
                                {% else %}
                                    <td>
                                        <p hidden>{{ order.user.username }}</p>
                                    </td>
                                {% endif %}
                                {% if pcreation != order.dateCreation %}
                                    {% set pcreation = order.dateCreation %}
                                    <td>
                                        {{ order.dateCreation|date('d-m-Y') }}
                                    </td>
                                {% else %}
                                    <td><p hidden>{{ order.dateCreation|date('d-m-Y') }}</p></td>
                                {% endif %}
                                {% if pupdate != order.lastUpdate %}
                                    {% set pupdate = order.lastUpdate %}
                                    <td>
                                        {{ order.lastUpdate|date('d-m-Y') }}
                                    </td>
                                {% else %}
                                    <td><p hidden>{{ order.lastUpdate|date('d-m-Y') }}</p></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
                {% block pagination %}
                <div class="center-align">
                    <h3>{{ knp_pagination_render(orders) }}</h3>
                </div>
                {% endblock %}
                <div class="center-align iconsBlock">
                    <a href="{{ path('checking') }}" class="addIcon" title="create a new order"><i
                                class="medium material-icons">add_circle</i></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
